@model MyDailyHub.Models.ViewModels.Home.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4"> MyDailyHub @DateTime.Now.ToString("d") </h1>
</div>

<div style="text-align:center">

    @if (Model != null)
    {
        <p> "@Model.QuoteModel.Text" - <i> @Model.QuoteModel.Author </i> </p>
    }
    else
    {
        <p>Your quote could not be found.</p>
    }

</div>

<div>
    WEATHER CAN SUCK MY BALLS AND GUSTAF HAS A TINY PEEPEE
    @(Math.Round((Model.WeatherModel.main.temp - 273.15), 2))
</div>
<br />

<div>
    NEWS AREA
    Breaking news: Andy has major Peepee and so does Miki
    <ul>
        @for (int i = 0; i < Model.NewsModel.articles.Count; i++)
            {
                <li>@Model.NewsModel.articles[i].title</li>
            }
    </ul>

</div>
<br />





